*{
    padding: 0;
    margin: 0;
    
}

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    padding: 20px;
    background: url('images/bg-hero-desktop.svg');
}


.conteudo-pricipal-1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.conteudo-meio-1{
    display: flex;
    flex-direction: row;
}
.q1{
    display: flex;flex-direction: column;
    gap: 10px;
}

.imagem-1{
    width: 20%;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }